.slidebar-fieldset {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    margin: 20px 0 0;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    background-color: #242c37;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
}
.slidebar-fieldset__input {
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 14px 0 0 0;
    outline: 0;
    border-radius: 4px;
    background-color: #242c37;
    color: #dee3ea;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}
.slidebar-fieldset__label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5d7290;
    pointer-events: none; 
    position: absolute;

    transform-origin: top left;
    transition: all 0.2s ease-out;
}
.slidebar-fieldset__error-message-hidden {
    display: none;
}
.slidebar-fieldset__error-message {
    color: crimson;
    font-size: 12px;
    margin-left: 5%;
}
.slidebar-fieldset__input-error {
    border-bottom: 1px solid #ee3465;
    border-radius: 5px 5px 0 0;
}
.slidebar-fieldset:focus-within {
    border-bottom: 1px solid #198cff;
    border-radius: 5px 5px 0 0;
}
.slidebar-fieldset:focus-within .slidebar-fieldset__label {
    transform: translate(0, 12px) scale(0.75);
}
.slidebar-fieldset .slidebar-fieldset__label-active {
    transform: translate(0, 12px) scale(0.75);
}
.slidebar-fieldset__input::-webkit-outer-spin-button,
.slidebar-fieldset__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}