.query {
    margin: 20px 0 0 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: fit-content;
    max-width: 311.5px;
}
.query__form {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
}
.query__input {
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.query__button {
    height: 80%;
    box-sizing: border-box;
    width: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    transition: opacity .2s ease-in-out;
}
.query__button:hover {
    opacity: 1;
    cursor: pointer;
}
.query__search {
    background-image: url('../../images/querySearch.svg');
}
.query__clear {
    border-left: 1px solid rgba(0, 0, 0, .2);
    background-image: url('../../images/clearQuery.svg');
}
.query__results {
    height: fit-content; /* Sliding down */
    margin: 0;
    padding: 5px 0;
    box-sizing: border-box;
    background-color: white;
    list-style-type: none;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.query__results-opened {
    display: flex;
}