.query__form {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
}
.query__input {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
}
.query__input::placeholder {
    color: black;
    opacity: 1;
}
.query__button {
    height: 80%;
    box-sizing: border-box;
    width: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    transition: opacity .2s ease-in-out;
}
.query__button:hover {
    opacity: 1;
    cursor: pointer;
}
.query__search {
    background-image: url('../../images/querySearch.svg');
}
.query__clear {
    border-left: 1px solid rgba(0, 0, 0, .2);
    background-image: url('../../images/clearQuery.svg');
}