.query__results {
    width: 100%;
    padding: 0;
    height: fit-content; /* Sliding down */
    margin-top: -1px;
    box-sizing: border-box;
    list-style-type: none;
    /* border-top: 3px solid #0b0e11; */
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 55px;
    border-radius: 8px;
    overflow: hidden;
}
.query__results-opened {
    display: flex;
}