.result {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 15px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    display: flex;
    background-color: #242c37;
}
.result:hover {
    cursor: pointer;
    background-color: #151a21;
}
.result__image {
    margin-right: 5px;
}
.result__text {
    display: flex;
    flex-direction: column;
}
.result__name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #dee3ea;
}
.result__description {
    color: #5d7290;
    margin: 0;
    font-size: 12px;
}