.slidebar-info {
    width: 100%;
    max-width: 500px;
    padding: 10px 5%;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.slidebar-info__title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin: 0 0 4px;
}
.slidebar-info__description {
    margin: 0;
    color: #999;
    font-size: 14px;
}
.slidebar-info__coordinates {
    margin: 5px 0 0 0;
    color: #999;
    font-size: 14px;
}
.slidebar-info__clipboard {
    margin-top: 5px;
    color: black;
    background-color: #f6f6f6;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 3px 5px;
}
.slidebar-info__clipboard:hover {
    cursor: pointer;
    color: #f43;
}
.slidebar-info__clipboard-icon {
    width: 16px;
    height: 16px;
    margin: auto 0 0 5px;
}
.slidebar-info__input-focus {
    margin: 10px 0 0;
    padding: 10px 15px;
    outline: none;
    border: none;
    color: white;
    background-color: #198cff;
    border-radius: 10px;
    transition: opacity .1s ease-in-out;
}
.slidebar-info__description-hidden {
    display: none;
}