.slidebar-party {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 15px 0;
    border-top: 2px solid rgba(36,36,36,0.2);
    border-bottom: 2px solid rgba(36,36,36,0.2);
    width: 100%;
    height: clamp(50px, fit-content, 70px);
    transition: all .1s ease-in-out;
    background-color: #fff;
}
.slidebar-party__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(36,36,36,0.2);
    padding: 5px 10px;
}
.slidebar-party__name {
    color: rgb(36,36,36);
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
    align-self: center;
}
.slidebar-party__buttons {
    display: flex;
    align-items: center;
}
.slidebar-party__button{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: all .2s ease-in-out;
    background-color: #f6f6f6;
    border-radius: 8px;
}
.slidebar-party__button:hover {
    cursor: pointer;
    background-color: rgba(25,140,255, .3);
}
.slidebar-party__button-bookmark {
    /* background-color: #198cff; */
    background-image: url('../../images/bookmark.svg');
}
.slidebar-party__button-join {
    margin: 0 0 0 5px;
    background-image: url('../../images/placemark.svg');
}
.slidebar-party__info {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slidebar-party__place {
    margin: 0;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    color: #555;
    min-width: 75px;
    width: 80%;
    max-height: 75px;
    word-break: normal;
}
.slidebar-party__age {
    font-weight: 500;
    margin: 0;
    border-bottom: 2px solid rgba(36,36,36,0.2);
}
.slidebar-party__age::after {
    content: "+";
}
.slidebar-party__price {
    font-weight: 500;
    margin: 0;
    text-align: end;
    word-break: keep-all;
    width: fit-content;
}
.slidebar-party__time {
    margin: 0 20px 0 0;
    line-height: 16px;
    font-weight: 500;
}