.partyblock {
    height: 100vh;
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #FCC343;
}
.partyblock__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.partyblock__info {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.partyblock__button {
    color: #FCC343;
    font-size: 30px;
    font-weight: bolder;
    outline: none;
    border: none;
    background-color: white;
    width: fit-content;
    padding: 30px 80px;
    border-radius: 25px;
    margin: 30px 0 0;
}
.partyblock__button:hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: black;
}