.query {
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    position: absolute;
    top: 20px;
    height: fit-content;
    background-color: white;
    z-index: 100;
}