.query {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    height: fit-content;
    z-index: 100;
    border-radius: 5px;
}
.query__party-form {
    width: 100%;
}
.query__party-submit {
    width: 100%;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #198cff;
    color: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    opacity: .8;
}
.query__party-submit:hover {
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
}
.query__party-submit:disabled {
    opacity: .8;
    background-color: #fd4d4d;
    border-radius: 5px;
}
.query__party-submit:disabled:hover {
    cursor: not-allowed;
}