.slidebar-header {
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: white;
}
.slidebar-header__title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin: 20px 0 4px;
}
.slidebar-header__description {
    margin: 0;
    color: #999;
    font-size: 14px;
}
.slidebar-header__coordinates {
    margin: 5px 0 0 0;
    color: #999;
    font-size: 14px;
}
.slidebar-header__clipboard {
    margin-left: 5px;
    color: black;
    background-color: #f6f6f6;
    outline: none;
    border: none;
}
.slidebar-header__clipboard:hover {
    cursor: pointer;
    color: #f43;
}