.slidebar {
    position: absolute;
    min-width: 340px;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 68px 0 20px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    z-index: 99;
    box-shadow: 1px 0 10px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}