.slidebar {
    position: absolute;
    min-width: 350px;
    max-width: 450px;
    width: 35%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99;
}
.slidebar__toggler{
  border-radius: 5px;
  background-color: rgba(36,36,36,1);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/triangleIcon.svg');
  position: absolute;
  top: 30px;
  width: 48px;
  height: 30px;
  outline: none;
  border: none;
  transition: all .2s ease-in-out;
  /* /transform: rotate(90deg); */
  transform: rotateZ(270deg);
}
.slidebar__toggler-toggled {
  right: 0;
  transform: rotateZ(90deg);
}
.slidebar__toggler:hover {
  cursor: pointer;
  opacity: .8;
}
.slidebar__main {
  box-shadow: 1px 0 10px rgba(0, 0, 0, .5);
  height: 100%;
  width: calc(100% - 50px);
  z-index: 99;
  padding: 68px 0 30px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: center;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  background-color: #f6f6f6;
}
.slidebar__main-toggled {
  display: flex;
}
.slidebar__main::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  .slidebar__main::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
   
  /* Handle */
  .slidebar__main::-webkit-scrollbar-thumb {
    background: #363636;
  }
  
  /* Handle on hover */
  .slidebar__main::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }