.date-picker__input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px 20px 0;
    border: none;
    outline: navajowhite;
    font-family: sans-serif;
    color: black;
    background-color: white;
}
.date-picker__input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
::-webkit-datetime-edit-text { color: black; }
::-webkit-datetime-edit-month-field { color: black; }
::-webkit-datetime-edit-day-field { color: black; }
::-webkit-datetime-edit-year-field { color: black; }
/* // ::-webkit-inner-spin-button { display: none; } */