.slidebar-time {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    margin: 20px 0 0;
    border: 0;
    outline: 0;
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 5px;
    /* border-bottom: 1px solid rgba(0,0,0,.3); */
}
.slidebar-fieldset__input-time {
    width: 40px;
    box-sizing: border-box;
    height: 70px;
    padding: 30px 0 0;
    outline: 0;
    background-color: white;
    color: black;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
}
.slidebar-fieldset__label-time {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    pointer-events: none; 
    position: absolute;
    transform: translate(0, 26px) scale(1);

    transform-origin: top left;
    transition: all 0.2s ease-out;
}
.slidebar-fieldset__input-time:focus {
    border-bottom: 1px solid #198cff;
}
.slidebar-fieldset__input-time:first-of-type {
    margin-right: 5px;
}
.slidebar-fieldset__input-error {
    border-bottom: 1px solid #ee3465;
}
.slidebar-time:focus-within .slidebar-fieldset__label-time {
    transform: translate(0, 12px) scale(0.75);
}
.slidebar-time .slidebar-fieldset__label-time-active {
    transform: translate(0, 12px) scale(0.75);
}
.slidebar-fieldset__input-time::-webkit-outer-spin-button,
.slidebar-fieldset__input-time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}